.header-container {
    background: darksalmon;
    color: floralwhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.header-container img {
    border-radius: 4px;
}

.wrapper {
    display: flex;
    background: paleturquoise;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}


.content_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    max-width: 960px; 
    margin-top: 15px;
    
}


.intro {
    display: flex;
    flex: 1;
}

.intro img{
   border-radius: 4px;
   border: 1px solid black;
   
}

.intro p{
    background-color: white;
 }

.mainroles {
    display: flex;
    flex: 2;
    background-color: white;
}